html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(#0056e0, #7caeff) fixed;
}
h1{
    text-align: center;
    text-decoration: underline;
}
a {
    color: blue;
    font-weight: bold;
    background-color: antiquewhite;
}
a:hover {
    background-color: goldenrod;
}